$lime-green : #32CD32;
$white: #F7F7F7;
$bright-blue: #0015fc;
$bright-purple: #BF40BF;
$black : #151515;
$orange : #FC7300;
$yellow : #FFDE00;
$off-white : #F8F1F1;
$teal : #125B50;
$electric-green : #BFDB38;
$pink-red: #FF4057;
$brown : #B3541E;
$pink : #F535AA;
$turquoise-blue : #00f5d0;
$source-code-pro-font : 'Source Code Pro', monospace;

//525FE1