@import "./_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $secondary-color;
}

body {
  background-color: $background;
  font-family: $source-code-pro-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5rem;
}

:root {
  scroll-behavior: slow;
}

html,
body {
  scrollbar-width: thin;
  scrollbar-color: $secondary-color $background;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: $background;
}

::-webkit-scrollbar-thumb {
  background: $secondary-color;
}

::-webkit-scrollbar-corner {
  background: $background;
}

.m-30 {
  margin: 30px 0;
}

@media only screen and (max-width: 800px) {
  body,
  input[type="text"],
  .intro-text {
    font-size: 13.5px;
  }
}

@media only screen and (max-width: 320px) {
  body,
  input[type="text"],
  .intro-text {
    font-size: 13px;
  }
}
