@import "./_variables";

// body, *, root, html
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $navy;
    font-family: $source-code-pro-font;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5rem;
    color: $white;
    text-decoration: none;
}

:root {
    scroll-behavior: slow;
}


html,
body {
    scrollbar-width: thin;
    scrollbar-color: $orange $navy;
}

// tags

a {
    text-decoration: none;
    color: $yellow;
}

span {
    color: $off-white;
}

input[type=text] {
    background-color: $navy;
    border: none;
    font-family: $source-code-pro-font;
    font-weight: 400;
    font-size: 16px;
    font-weight: 600;

    &:focus {
        outline: none;
    }
}

.main {
    margin: 15px auto;
    width: 99%;
    height: 95vh;
    border: 3px solid $orange;
    border-radius: 8px;
    overflow: hidden;

    &-content {
        overflow-y: auto;
        height: 100%;
        margin: 10px;
    }
}

// text colors
.color {
    &-green {
        color: $lime-green;
    }

    &-red {
        color: red;
    }

    &-yellow {
        color: yellow;
    }

    &-white {
        color: $white;
    }

    &-purple {
        color: $bright-purple;
    }

    &-orange {
        color: $orange;
    }

    &-teal {
        color: $teal;
    }

    &-electric-green {
        color: $electric-green;
    }

    &-pink-red {
        color: $pink-red;
    }

    &-brown {
        color: $brown
    }

    &-pink{
        color: $pink;
    }

    &-turq-blue{
        color: $turquoise-blue;
    }
}

// projects.vue

.projects {

    & div div {
        margin: 0;
    }

    & .sub-project {
        border-bottom: 2px dashed $bright-purple;
        padding-bottom: 10px;
    }
}

// prompt and prompt colors

.prompt-text {
    margin: 10px 0px;
}

// command prompt
.m-30 {
    margin: 30px 0px;
}

// responsive media queries

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.75rem;
    }

    input[type=text] {
        font-size: 0.75rem;

    }
}


.ascii,
.ascii-art {
    font-size: 16px;
    line-height: 1.25;
}

@media screen and (max-width: 800px) {

    .ascii, .ascii-art {
        font-size: 8px;
        line-height: 1.25;

    }
}

@media screen and (max-width: 600px) {

    .ascii,
    .ascii-art {
        font-size: 5px;

    }
}